* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 240, 240);
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    opacity: 1;
}

section.about-page {
    position: relative;
    height: 100%;
    width: 100%;
}

div.header-about {
    position: relative;
    width: 100%;
    height: 70vh;
    line-height: 70vh;
    color: white;
    padding-left: 10px;
    font-size: 5.5vw;
    letter-spacing: 1vw;
    color: rgba(255, 255, 255, 0.85);
    font-family: 'Open Sans', sans-serif;
    transition: opacity .5s linear;
    background-image: url('img/cover.jpg');
    background-size: auto 70vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    margin-bottom: 150px;
}

div.content-about {
    position: relative;
}

div.top-text,
div.center-text,
div.bottom-text {
    width: 90%;
    max-width: 900px;
    margin-bottom: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    font-size: 158x;
    line-height: 27px;
    font-weight: 400;
    text-align: justify;
    color: rgb(255, 249, 249);
    background-image: linear-gradient(-140deg, #8a07c70e 0%, #8f409673 100%);
}

div.center-text {
    margin-left: 0;
    margin-right: auto;
}

div.bottom-text {
    margin-right: 0;
    margin-left: auto;
}

h2.title {
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
    text-shadow: 0px 1px 2px rgb(68, 41, 73);
}

.top-image,
.center-image,
.bottom-image {
    border-radius: 36% 64% 61% 39% / 63% 60% 40% 37%;
    position: absolute;
    z-index: -2;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.top-image {
    top: -10px;
    left: 0;
    width: 40%;
    height: 350px;
    z-index: -1;
    background-image: url('img/top-img.jpg');
}

.center-image {
    top: 37%;
    right: 5%;
    width: 40%;
    height: 500px;
    background-image: url('img/center-img.jpg');
}

.bottom-image {
    left: 0;
    bottom: -8%;
    height: 500px;
    width: 55%;
    background-image: url('img/bottom-img.jpg');
}